# pneumonia prediction using basic algorithms 
# dataset

In [23]:
# importing the necessary libraries

from tensorflow.keras.preprocessing import image 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np 
import os 
import cv2
import pandas as pd
from PIL import Image
from pylab import *

In [2]:
import warnings 
warnings.filterwarnings("ignore")

In [3]:
# importing the dataset from the local folder

train_norm = "D:\\AIML SEM 4\\python\\project\\chest_xray\\train\\NORMAL"
train_pneumo = "D:\\AIML SEM 4\\python\\project\\chest_xray\\train\\PNEUMONIA"
val_norm = "D:\\AIML SEM 4\\python\\project\\chest_xray\\val\\NORMAL"
val_pneumo ="D:\\AIML SEM 4\\python\\project\\chest_xray\\val\\PNEUMONIA"
test_norm = "D:\\AIML SEM 4\\python\\project\\chest_xray\\test\\NORMAL"
test_pneumo = "D:\\AIML SEM 4\\python\\project\\chest_xray\\test\\PNEUMONIA"

In [4]:
# defining a function to convert image data into list of arrays of pixel values

def to_array(folder):
    train =[]
    for i in os.listdir(folder):
        gray()
        image = array(Image.open(folder+'\\'+i).resize((80,80)).convert('L'))
        x = image.reshape(1,-1)
        train.append(x)
    return train

**converting all the raw images to array of pixel values**

In [5]:
n_train = to_array(train_norm)

In [6]:
p_train = to_array(train_pneumo)

In [7]:
n_val = to_array(val_norm)

In [8]:
p_val = to_array(val_pneumo)

In [9]:
n_test = to_array(test_norm)

In [10]:
p_test = to_array(test_pneumo)

In [11]:
#defining function to create dataframe of normal images

def dataframe_normal(array_normal):
    df = pd.DataFrame(data = (list(x) for x in array_normal))
    df = pd.DataFrame(df[0].to_list(),columns=range(0,6400))
    df['target']=0
    return df

In [12]:
#defining function to create dataframe of pneumonia images

def dataframe_pneumonia(array_pneumonia):
    df = pd.DataFrame(data = (list(x) for x in array_pneumonia))
    df = pd.DataFrame(df[0].to_list(),columns=range(0,6400))
    df['target']=1
    return df

**converting to dataframe and concat them to create train and test data**

In [13]:
data = [dataframe_normal(n_train), dataframe_pneumonia(p_train)]

In [14]:
train = pd.concat(data)

In [15]:
data1 = [dataframe_normal(n_val), dataframe_pneumonia(p_val)]

In [16]:
train1 = pd.concat(data1)

In [17]:
train_data = pd.concat([train,train1])
train_data

,0,1,2,3,4,5,6,7,8,9,...,6391,6392,6393,6394,6395,6396,6397,6398,6399,target
0,0,0,0,0,0,1,7,16,26,33,...,5,0,0,0,0,0,0,0,0,0
1,86,100,100,87,77,84,105,103,112,-119,...,36,6,15,24,23,20,23,23,23,0
2,68,78,85,96,104,107,112,-109,-121,-127,...,-86,113,53,2,0,0,0,0,0,0
3,63,121,115,108,120,-111,92,72,75,73,...,-122,-122,-128,-124,116,109,124,125,79,0
4,30,29,30,43,49,50,49,50,55,60,...,113,122,121,101,87,66,35,3,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,42,64,79,87,91,123,-108,-114,-112,-109,...,-97,119,125,72,14,0,0,0,0,1
106,95,91,91,103,102,95,94,89,87,86,...,85,65,48,11,17,16,17,19,20,1
107,26,18,6,0,32,52,44,57,61,64,...,-104,-100,-114,-128,115,93,70,50,26,1
108,36,40,44,53,49,48,45,36,29,53,...,-105,107,83,45,22,24,22,24,25,1
109,12,7,6,16,29,41,35,40,43,44,...,94,62,49,39,7,7,10,12,13,1

In [18]:
data2 = [dataframe_normal(n_test), dataframe_pneumonia(p_test)]

In [19]:
test_data = pd.concat(data2)
test_data

,0,1,2,3,4,5,6,7,8,9,...,6391,6392,6393,6394,6395,6396,6397,6398,6399,target
0,29,29,29,30,28,27,25,28,30,30,...,73,50,28,24,30,34,34,35,35,0
1,29,39,71,103,121,-125,-112,-96,-80,-77,...,24,25,28,31,33,35,33,31,31,0
2,33,33,32,32,32,33,34,34,34,34,...,-99,96,35,20,27,31,33,34,35,0
3,80,81,88,95,96,93,93,99,104,106,...,-66,-77,-87,-96,-105,-112,-115,-118,-119,0
4,36,35,33,29,27,24,23,25,26,26,...,92,68,45,38,40,40,41,43,43,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,40,39,46,99,-121,111,20,22,17,9,...,59,16,17,21,24,25,25,26,26,1
285,108,44,19,12,14,21,22,17,19,18,...,-120,113,74,27,14,20,23,26,26,1
286,16,58,-46,117,41,30,46,49,39,46,...,26,28,30,30,31,32,33,33,33,1
287,-85,54,55,58,71,105,83,64,65,60,...,-105,89,56,15,14,20,22,22,23,1
288,16,24,34,45,54,61,66,68,67,64,...,-92,-100,100,37,3,0,0,0,0,1

In [20]:
# shuffling the dataset randomly 

from sklearn.utils import shuffle
train_data = shuffle(train_data,random_state = 56)
test_data = shuffle(test_data,random_state = 43)

**final dataset**

In [21]:
# train data 

train_data

,0,1,2,3,4,5,6,7,8,9,...,6391,6392,6393,6394,6395,6396,6397,6398,6399,target
1272,117,84,71,67,63,64,79,92,95,92,...,101,103,102,85,62,39,21,7,0,1
1155,0,0,0,0,0,0,0,0,0,6,...,-57,-71,-91,-101,-123,-124,126,55,5,0
811,16,53,76,91,105,112,113,111,-112,-105,...,51,7,0,0,0,0,0,0,0,0
70,0,0,0,0,3,15,27,37,49,58,...,0,0,0,0,0,0,0,0,0,0
551,27,64,109,101,101,107,106,100,85,54,...,-114,-120,124,122,-118,-123,102,52,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1146,9,9,9,9,9,10,11,13,14,14,...,62,34,8,3,4,3,2,2,2,0
1259,11,40,67,86,97,99,97,105,-128,-119,...,116,79,50,14,0,0,0,0,0,0
164,80,104,-119,120,105,110,105,108,-126,-125,...,13,3,2,3,4,5,9,4,3,1
399,49,78,98,113,121,127,-125,-116,-94,-99,...,-115,-122,104,46,9,16,20,24,26,0
1254,12,12,11,15,102,42,18,22,22,77,...,11,11,12,12,13,13,14,14,14,1

In [22]:
#test data

test_data

,0,1,2,3,4,5,6,7,8,9,...,6391,6392,6393,6394,6395,6396,6397,6398,6399,target
157,-122,-122,-122,-122,-122,-121,-119,-113,-107,-105,...,-128,75,22,4,4,2,1,0,0,0
17,11,11,13,15,14,11,10,10,11,12,...,-107,126,102,70,33,9,13,18,19,0
279,23,26,27,27,25,23,18,14,12,38,...,29,3,8,11,13,12,14,22,42,1
252,-56,57,28,35,40,46,54,60,59,59,...,14,11,16,18,18,14,107,57,15,1
69,0,2,11,21,23,24,24,23,23,24,...,-78,-101,-125,95,53,21,11,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16,86,87,88,90,89,88,85,82,78,76,...,91,87,82,66,42,23,12,2,0,0
58,0,5,23,43,61,80,93,95,97,109,...,68,38,9,2,4,6,8,9,10,0
43,85,-102,91,83,-118,-119,-81,88,58,66,...,61,57,30,5,14,17,18,18,18,1
21,-39,-41,-32,-41,-60,59,4,11,12,12,...,13,14,14,16,16,16,16,16,17,1
86,-35,-46,-60,-84,-103,-107,-108,-128,-116,118,...,15,20,23,24,25,25,23,54,82,1